@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor-rounded/ShoorRounded-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-UltraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShoorRounded";
  src: url("../assets/fonts/shoor/ShoorRounded-Super.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
